{% extends "clinic/base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid px-4">
    <div class="row gx-5">
        <div class="d-flex justify-content-between align-items-center mb-3 py-3">
            <h2 class="fw-bold">Clinic Management System</h2>
        </div>
        <!-- welcome message -->
        <p class="lead">
            <strong>
                {% if user.profile.get_user_type_display == "Doctor" %}
                Welcome, Doctor <em>{{ user.username|title }}.</em>
                {% elif user.profile.get_user_type_display == "Clinic Staff" %}
                Welcome, Staff <em>{{ user.username|title }}.</em>
                {% else %}
                Welcome, Admin <em>{{ user.username|title }}</em>.
                {% endif %}
            </strong>
        </p>
        <div class="col-12 gy-3 d-flex justify-content-center"> <!-- Main content area -->

            <div class="row gy-5 d-flex justify-content-center">
                <!-- menu for patient list -->
                <div class="col py-2 text-center">
                    <img src="{% static 'clinic/health-report.png' %}" class="img-thumbnail" alt="">
                    <hr>
                    <a class="btn btn-primary btn-sm" href="{% url 'clinic:patient_list' %}">
                        Patient List
                    </a>
                </div>
                <!-- menu for appointment list -->
                <div class="col py-2 text-center">
                    <img src="{% static 'clinic/appointment.png' %}" class="img-thumbnail" alt="">
                    <hr>
                    <a class="btn btn-primary btn-sm" href="{% url 'clinic:appointment_list' %}">
                        Appointment List
                    </a>
                </div>
                <!-- menu for checkin list -->
                <div class="col py-2 text-center">
                    <img src="{% static 'clinic/doctor-visit.png' %}" class="img-thumbnail" alt="">
                    <hr>
                    <a class="btn btn-primary btn-sm" href="{% url 'clinic:checkin_list' %}">
                        Check-In List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}