{% extends "clinic/base.html" %}

{% block main %}

<h1>List of Appointment</h1>
<hr>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Patient</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>
            {% for appointment in appointment_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
                <td>{{ appointment.get_time_slot_display }}</td>
                <td>{{ appointment.date }}</td>
                <td><a href="{% url 'clinic:change_status' appointment.pk %}">{{ appointment.get_status_display }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}