{% load static %}
<nav class="navbar bg-primary border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'clinic:home' %}"><img src="{% static 'clinic/main-logo.svg' %}" alt="">
            CMS
        </a>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <form action="{% url 'accounts:register_user' %}">
            {% csrf_token %}
            <button type="submit">Register User</button>
        </form>
        {% endif %}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        <a href="{% url 'accounts:user_profile' user.pk %}">Profile</a>
        {% else %}
        <p>THIS IS DEBUG: please log in</p>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>


    </div>
</nav>