{% extends "clinic/base.html" %}

{% block main %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title">Patient Profile</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3"><strong>Full Name</strong></div>
                <div class="col-sm-9">{{ patient.first_name|title }} {{ patient.last_name|title }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3"><strong>Email</strong></div>
                <div class="col-sm-9">{{ patient.email }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3"><strong>IC Number</strong></div>
                <div class="col-sm-9">{{ patient.ic_number }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3"><strong>Tel Number</strong></div>
                <div class="col-sm-9">{{ patient.phone_number }}</div>
            </div>

            <div class="row">
                <div class="col-sm-3"><strong>Register Date & Time</strong></div>
                <div class="col-sm-9">{{ patient.register_date }}</div>
            </div>
        </div>
    </div>
</div>

<!-- medical records -->
<div class="container p-5">
    <h3>{{ patient.first_name }}'s Medical Records</h3>
    <div class="container">
        <table class="table table-striped-columns">
            <thead>
                <tr class="table-info">
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for record in medical_records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.title}}</td>
                    <td>{{ record.description}}</td>
                    <td>{{ record.record_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><em>No Past Medical Records</em></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- past appointment -->
<div class="container p-5">
    <h3>Past Appointment Records</h3>
    <table class="table table-striped-columns">
        <thead>
            <tr class="table-info">
                <th scope="col">No</th>
                <th scope="col">Patient</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>
            {% for appointment in past_appointments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
                <td>{{ appointment.get_time_slot_display }}</td>
                <td>{{ appointment.date }}</td>
                {% if appointment.status == 2 %}
                <td class="table-success">{{ appointment.get_status_display }}</td>
                {% elif appointment.status == 3 %}
                <td class="table-danger">{{ appointment.get_status_display }}</td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td><em>No Past Appointment</em></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="container">
    <a class="btn btn-primary btn-sm" href="{% url 'clinic:add_medical_record' patient.pk %}" role="button">
        Add Medical Record
    </a>
    <a class="btn btn-primary btn-sm" href="{% url 'clinic:add_appointment' patient.pk %}" role="button">
        Add Appointment
    </a>
</div>


{% endblock %}