{% extends "clinic/base.html" %}
{% load crispy_forms_tags %}

{% block main %}

<!-- Payment Details -->
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Payment Details</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped-columns">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Check-In Date</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Check-In Status</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ checkin.date }}</td>
                        <td>{{ checkin.patient.first_name|title }} {{ checkin.patient.last_name|title }}</td>
                        <td>{{ record.doctor.user.username|title }}</td>
                        <td>{{ checkin.get_status_display }}</td>
                        <td>{{ record.description }}</td>
                        <td>RM{{ record.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Payment Form -->
<div class="container mt-4 mb-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Process Payment</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% block form %}{% endblock %}
                {{ form|crispy }}
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-success rounded-pill">Confirm Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}