{% extends "clinic/base.html" %}
{% load crispy_forms_tags %}

{% block main %}

<div class="container mt-5 mb-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Register New Patient</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% block form %}{% endblock %}
                {{ form|crispy }}
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-primary rounded-pill">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}