{% extends "clinic/base.html" %}
{% load crispy_forms_tags %}

{% block main %}

<div class="container-flex m-4">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit User</legend>
        <form action="" method="post">
            <div class="mb-3"></div>
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>

    </fieldset>

</div>

{% endblock %}